{% extends '::base.html.twig' %}

{% block top %}
    <div class="top clearfix">
        <h1 class="logo">{% trans %}scrummaster.toolbox{% endtrans %}</h1>
        <div class="login-state">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('fos_user_profile_show') }}">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a> |
                <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans([], 'FOSUserBundle') }}</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans([], 'FOSUserBundle') }}</a> |
                <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans([], 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
    </div>

    {% for key, flash in app.session.getFlashes() %}
        <div class="{{ flash }}">
            {{ key|trans([], 'FOSUserBundle') }}
        </div>
    {% endfor %}
{% endblock %}

{% block menu %}
    <div class="navbar menu">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li><a href="{{ path('project') }}">{% trans %}projects{% endtrans %}</a></li>
                    <li><a href="{{ path('sprint') }}">{% trans %}sprints{% endtrans %}</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="{{ path('faq') }}">{% trans %}faq{% endtrans %}</a></li>
                </ul>
                <div class="clearer"></div>
            </div>
        </div>
    </div>
{% endblock %}

