{% extends "SitronnierSmBoxBundle::layout.html.twig" %}

{% block menu %}
    {% include 'SitronnierSmBoxBundle:Default:menu.html.twig' with {'active': 'project'} %}
{% endblock %}

{% block body %}
<h1>{% trans %}project_entity.list{% endtrans %}</h1>

<ul>
    <li>
        <a href="{{ path('project_new') }}">{% trans %}add.project{% endtrans %}</a>
    </li>
</ul>

<table class="records_list">
    <thead>
        <tr>
            <th>{% trans %}id{% endtrans %}</th>
            <th>{% trans %}title{% endtrans %}</th>
            <th>{% trans %}actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('project_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.title }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('project_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('project_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

