{% extends "SitronnierSmBoxBundle::layout.html.twig" %}

{% block breadcrumb %}
{% endblock %}

{% block body %}
<h1>{{ entity.title }}</h1>

<a class="btn btn-success" href="{{ path('sprint_new', {'project': entity.id}) }}"><i class="icon-plus icon-white"></i> {% trans %}add.sprint{% endtrans %}</a>

<div class="sprint-list">
    <h3>{% trans %}sprint_entity.list{% endtrans %}</h3>
    <ul>
        {% for sprint in sprints %}
        <li>
            <a href="{{ path('sprint_show', {'id': sprint.id}) }}">{% trans %}sprint{% endtrans %} {{ sprint.index }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

<ul class="record_actions unstyled">
    <li>
        <a class="btn" href="{{ path('project_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
    </li>
    <li>
        <form action="{{ path('project_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn" type="submit">{% trans %}delete{% endtrans %}</button>
        </form>
    </li>
</ul>
{% endblock %}

