{% extends "SitronnierSmBoxBundle::layout.html.twig" %}

{% block stylesheets %}
<link href="{{ asset('/bundles/sitronniersmbox/css/smbox.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<h1>{{ project }}</h1>

{% render "SitronnierSmBoxBundle:stats:sprint" with {'sprint_id': 2} %}

See stats for:
<ul>
    {% for project_sprint in sprints %}
        <li>
            <a class="load-sprint-graph-bt" id="sprint-id-{{ project_sprint.id }}" href="#">Sprint {{ project_sprint.index }}</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    YUI().use('SprintChart', 'node', function (Y) {
        Y.all('.load-sprint-graph-bt').each(function(item) {
            item.on('click', function(e) {
                e.preventDefault();
                var itemId = this.get('id');
                var sprintId = Number(itemId.substr(itemId.lastIndexOf('-') + 1));
                Y.SmbSprintChart.loadSprint(sprintId);
            });
        });
    });
</script>
{% endblock %}

