{% extends "SitronnierSmBoxBundle::layout.html.twig" %}

{% block body %}
<h1>{% trans %}sprint_entity.edit{% endtrans %}</h1>

<form action="{{ path('sprint_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">{% trans %}edit{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('sprint') }}">{% trans %}see.all.sprint{% endtrans %}</a>
    </li>
    <li>
        <form action="{{ path('sprint_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}delete{% endtrans %}</button>
        </form>
    </li>
</ul>
{% endblock %}

