{% extends "SitronnierSmBoxBundle::layout.html.twig" %}

{% block menu %}
    {% include 'SitronnierSmBoxBundle:Default:menu.html.twig' with {'active': 'sprint'} %}
{% endblock %}

{% block body %}
<h1>{% trans %}sprint_entity.list{% endtrans %}</h1>

<a class="btn btn-success" href="{{ path('sprint_new') }}"><i class="icon-plus icon-white"></i> {% trans %}add.sprint{% endtrans %}</a>

<table class="records-list sprint-list table table-striped">
    <thead>
        <tr>
            <th>{% trans %}project{% endtrans %}</th>
            <th>{% trans %}index{% endtrans %}</th>
            <th>{% trans %}MD{% endtrans %}</th>
            <th>{% trans %}SP{% endtrans %}</th>
            <th>{% trans %}BV{% endtrans %}</th>
            <th>{% trans %}actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in sprints %}
        <tr>
            <td><a href="{{ path('project_show', { 'id': entity.project.id }) }}">{{ entity.project.title }}</a></td>
            <td><a href="{{ path('sprint_show', { 'id': entity.id }) }}">{{ entity.index }}</a></td>
            <td>{{ entity.mandays }}</td>
            <td>{{ entity.storypoints }}</td>
            <td>{{ entity.businessvalue }}</td>
            <td>
                <ul class="actions">
                    <li>
                        <a class="btn btn-small" href="{{ path('sprint_show', { 'id': entity.id }) }}"><i class="icon-zoom-in"></i> show</a>
                    </li>
                    <li>
                        <a class="btn btn-small" href="{{ path('sprint_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i> edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

