{% extends "SitronnierSmBoxBundle::layout.html.twig" %}

{% block menu %}
    {% include 'SitronnierSmBoxBundle:Default:menu.html.twig' with {'active': 'sprint'} %}
{% endblock %}

{% block body %}
<h1>{% trans %}sprint_entity.list{% endtrans %}</h1>

<ul>
    <li>
        <a href="{{ path('sprint_new') }}">{% trans %}add.sprint{% endtrans %}</a>
    </li>
</ul>

<table class="records_list sprint-list">
    <thead>
        <tr>
            <th>{% trans %}project{% endtrans %}</th>
            <th>{% trans %}index{% endtrans %}</th>
            <th>{% trans %}MD{% endtrans %}</th>
            <th>{% trans %}SP{% endtrans %}</th>
            <th>{% trans %}BV{% endtrans %}</th>
            <th>{% trans %}actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in sprints %}
        <tr>
            <td><a href="{{ path('project_show', { 'id': entity.project.id }) }}">{{ entity.project.title }}</a></td>
            <td><a href="{{ path('sprint_show', { 'id': entity.id }) }}">{{ entity.index }}</a></td>
            <td>{{ entity.mandays }}</td>
            <td>{{ entity.storypoints }}</td>
            <td>{{ entity.businessvalue }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('sprint_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('sprint_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

