{% extends "SitronnierSmBoxBundle::layout.html.twig" %}

{% block body %}
<h1>Sprint</h1>

<div class="record-data">
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Index</th>
                <th>Man days</th>
                <th>Story_points</th>
                <th>Business_value</th>
            </tr>
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.index }}</td>
                <td>{{ entity.mandays }}</td>
                <td>{{ entity.storypoints }}</td>
                <td>{{ entity.businessvalue }}</td>
            </tr>
        </tbody>
    </table>
</div>

{% include "SitronnierSmBoxBundle:Stats:sprint.html.twig" with {'sprint': entity} %}

<ul class="record_actions">
    <li>
        <a href="{{ path('sprint') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('sprint_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('sprint_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
    {% if entity.status != 'CLOSED' %}
    <li>
        <a href="{{ path('day_new') }}?sprint={{ entity.id }}">
            Add new day
        </a>
    </li>
    {% endif %}
</ul>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="http://yui.yahooapis.com/3.4.1/build/yui/yui-min.js"></script>
<script src="{{ asset('/bundles/sitronniersmbox/js/smgraph4.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    YUI().use('SprintChart', 'node', function (Y) {
        Y.SmbSprintChart.createChart('{{ jsSprint }}');
    });
</script>
{% endblock %}

