{% extends "SitronnierSmBoxBundle::layout.html.twig" %}

{% block body %}
<h1>{% trans %}day_entity.list{% endtrans %}</h1>

<table class="records-list day-list table table-striped">
    <thead>
        <tr>
            <th>{% trans %}project{% endtrans %}</th>
            <th>{% trans %}sprint{% endtrans %}</th>
            <th>{% trans %}id{% endtrans %}</th>
            <th>{% trans %}date{% endtrans %}</th>
            <th>{% trans %}MD{% endtrans %}</th>
            <th>{% trans %}SP{% endtrans %}</th>
            <th>{% trans %}BV{% endtrans %}</th>
            <th>{% trans %}actions{% endtrans %}</th>
        </tr>
    </thead>
    <tbody>
    {% for day in days %}
        <tr>
            <td><a href="{{ path('project_show', { 'id': day['project_id'] }) }}">{{ day['title'] }}</a></td>
            <td><a href="{{ path('sprint_show', { 'id': day['sprint_id'] }) }}">{{ day['index'] }}</a></td>
            <td><a href="{{ path('day_show', { 'id': day['day_id'] }) }}">{{ day['day_id'] }}</a></td>
            <td>{{ day['date'] }}</td>
            <td>{{ day['nb_hours'] }}</td>
            <td>{{ day['nb_story_points'] }}</td>
            <td>{{ day['nb_business_value'] }}</td>
            <td>
                <ul class="actions">
                    <li>
                        <a class="list-btn" href="{{ path('day_show', { 'id': day['day_id'] }) }}">show</a>
                    </li>
                    <li>
                        <a class="btn" href="{{ path('day_edit', { 'id': day['day_id'] }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

