{% extends "SitronnierSmBoxBundle::layout.html.twig" %}

{% block body %}
<h1>Day list</h1>

<table class="records_list day-list">
    <thead>
        <tr>
            <th>Project</th>
            <th>Sprint</th>
            <th>Id</th>
            <th>Date</th>
            <th>MD</th>
            <th>SP</th>
            <th>BV</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for day in days %}
        <tr>
            <td><a href="{{ path('project_show', { 'id': day['project_id'] }) }}">{{ day['title'] }}</a></td>
            <td><a href="{{ path('sprint_show', { 'id': day['sprint_id'] }) }}">{{ day['index'] }}</a></td>
            <td><a href="{{ path('day_show', { 'id': day['day_id'] }) }}">{{ day['day_id'] }}</a></td>
            <td>{{ day['date'] }}</td>
            <td>{{ day['nb_hours'] }}</td>
            <td>{{ day['nb_story_points'] }}</td>
            <td>{{ day['nb_business_value'] }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('day_show', { 'id': day['day_id'] }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('day_edit', { 'id': day['day_id'] }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

