{% extends "SitronnierSmBoxBundle::layout.html.twig" %}

{% block body %}
<h1>{% trans %}day_entity.create{% endtrans %}</h1>

<p class="helpers">
    {% if project.zebraUrl %}
        <a href="{{ project.zebraUrl|zebraCurrentDay }}">{% trans %}zebra.url.today{% endtrans %}</a>
    {% endif %}
    {% if project.jiraUrl %}
        <a href="{{ project.jiraUrl }}">{% trans %}jira.url{% endtrans %}</a>
    {% endif %}
</p>

<form action="{{ path('day_create', {'project': project.id}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">{% trans %}create{% endtrans %}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('day') }}">{% trans %}see.all.days{% endtrans %}</a>
    </li>
</ul>
{% endblock %}

