{% extends "SitronnierSmBoxBundle::layout.html.twig" %}

{% block body %}
<h1>Day creation</h1>

<form action="{{ path('day_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('day') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('sprint_new') }}">
            Sprint not created? create it now
        </a>
    </li>
</ul>
{% endblock %}

