{% extends "SitronnierSmBoxBundle::layout.html.twig" %}

{% block breadcrumb %}
    {% render "SitronnierSmBoxBundle:Default:breadcrumb" with {'day': entity.id } %}
{% endblock %}

{% block body %}
<h1>{% trans %}day{% endtrans %}</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>{% trans %}id{% endtrans %}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}date{% endtrans %}</th>
            <td>{{ entity.date|date('d-m-Y') }}</td>
        </tr>
        <tr>
            <th>{% trans %}nb.hours{% endtrans %}</th>
            <td>{{ entity.nbhours }}</td>
        </tr>
        <tr>
            <th>{% trans %}business_value{% endtrans %}</th>
            <td>{{ entity.nbbusinessvalue }}</td>
        </tr>
        <tr>
            <th>{% trans %}story_points{% endtrans %}</th>
            <td>{{ entity.nbstorypoints }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('day') }}">{% trans %}see.all.days{% endtrans %}</a>
    </li>
    <li>
        <a href="{{ path('day_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
    </li>
    <li>
        <form action="{{ path('day_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">{% trans %}delete{% endtrans %}</button>
        </form>
    </li>
</ul>
{% endblock %}

