<table class="records_list day-list">
    <thead>
        <tr>
            <div>{% trans %}id{% endtrans %}</div>
            <div>{% trans %}date{% endtrans %}</div>
            <div>{% trans %}MD{% endtrans %}</div>
            <div>{% trans %}SP{% endtrans %}</div>
            <div>{% trans %}BV{% endtrans %}</div>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
        {% for day in sprint.days %}
            <div><a href="{{ path('day_show', { 'id': day.id }) }}">{{ day.id }}</a></td>
            <div>{{ day.date|date('d.m.Y') }}</div>
            <div class="change-me">{{ day.nbHours }}</div>
            <div class="change-me">{{ day.nbStoryPoints }}</div>
            <div class="change-me">{{ day.nbBusinessValue }}</div>
        {% endfor %}

{% if sprint.days.count > 0 %}
{% endif %}

